#diver {
    background: url("") 35px -1px no-repeat;
    height: 50px;
    margin-left: 38.5vw;
    margin-right: auto;
    position: relative;
    width: 380px;
}

#formm {
    margin-top: 10vw;
    height: 52vh;
}

#formm input::placeholder {
    color: aliceblue;
    text-align: center;
}

#imgAdd {
    width: 5vw;
    height: 5vw;
    margin-left: 32vw;
    cursor: pointer;
}
#addNovelDB {
    position: absolute;
    width: 5vw;
    height: 5vw;
    margin-left: 63vw;
    bottom: 2vw;
}

#imgLabel {
    position: absolute;
    display: inline-block;
    font-family: "Penumbra", helvetica, arial;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-weight: normal;
    padding-top: unset;
    text-align: left;
    color: #ffffff;
    margin-left: 37vw;
    bottom: 2.5vw;
    margin-bottom: 2em;
    font-size: large;
}

#formm input {

    margin-left : 32vw;
    width: 35vw;
    height: 3vw;
    color: aliceblue;
    text-align: center;

     background-image: url('https://th.bing.com/th?id=OIP.NsdVBJIxoGbh9B3qmxygOAHaEK&w=333&h=187&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2');
}